:plain
  $("li").on("click", function() {
    $("li.active").removeClass("active");
    $(this).addClass("active");
  });
  $('.container-proto-list .row').html('#{ escape_javascript(render("prototype", prototypes: @prototypes ))}');
